<footer role="contentinfo" class='post-footer'>
    <div class="inner">
        <div class="vcard">
          <a href="{{ site.baseurl }}/feed.xml" id="btn_feed" class="btn" title="Feed" target="_blank">
                <span aria-hidden="true" data-icon=")"></span>
                <strong>Feed</strong>
            </a>

            {% if site.logo %}
            <a href="{{ site.baseurl }}" class="photo circle">
              <span style="background-image: url('{{ site.baseurl }}/assets/images/{{ site.logo }}');">
                <img src="{{ site.baseurl }}/assets/images/{{ site.logo }}" alt="{{ site.title }}"/>
              </span>
            </a>
            {% endif %}


        </div>
        <div id="user_bio">
            <div class="inner">
                {{ site.description }}
            </div>
        </div>

    </div>
</footer>
